.title {
    padding-top: 2%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
}

.h5 {
    border-bottom: 1px solid grey;
    padding-bottom: 10%;
}

.hh5 {
    border-bottom: 1px solid gray;
    padding-bottom: 10%;
    margin-top: -5%;
    margin-bottom: -5%;
}